{extend name="add_base" /}
{block name="style"}
<style type="text/css">
</style>
{/block}
{block name="main"}
<article class="cl pd-15">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add" onsubmit="return false">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" disabled  value="{$web_role['rolename']}" placeholder="角色名" id="rolename" name="rolename"  autocomplete="off">
                <input type="text" value="{$web_role['id']}" name="id" id="id" disabled style="display: none">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学院权限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {foreach $college_category as $key => $val}
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" value="{$val.id}" name="user-Character-0" id="user-Character-0" {foreach $role as $v}{if $v == $val.id}checked{/if}{/foreach}>
                            {$val.category}</label>
                    </dt>
                    <dd>
                        <dl class="cl permission-list2">
                            <dt>
                                {foreach $val.sub as $vv}
                                 <label class="">
                                    <input type="checkbox" value="{$vv.id}" name="user-Character-0-0" id="user-Character-0-0" {foreach $role as $v}{if $v == $vv.id}checked{/if}{/foreach}>
                                     {$vv.category}
                                 </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                {/foreach}
                            </dt>
                        </dl>
                    </dd>
                </dl>&nbsp;
                {/foreach}
            </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-7 col-xs-offset-4 col-sm-offset-3">
                <input id="submit_btn" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        // 选择一类,全选所包含的所有子类
        $(".permission-list dt input:checkbox").click(function(){
            $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
        });
        // 选择二类自动选择所属一类
        $(".permission-list2 dt input:checkbox").click(function(){
            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
            if(!$(this).prop("checked")){
                //取消选中
                var l = $(this).parents(".permission-list").find(".permission-list2").find("input:checked").length
                if(l == 0){
                    $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
                }
            }
        });
    });
    $("#submit_btn").click(function () {
        var rolename = $("#rolename").val();
        if(rolename == ''){
            layer.msg("角色不能为空");
            return false
        }

        var chk_list =[];
        $("input[name='user-Character-0']:checked").each(function(){
            chk_list.push($(this).val());
        });
        if(chk_list.length == 0){
            layer.msg("请选择权限")
            return false;
        }
        var chk_list_2 =[];
        $("input[name='user-Character-0-0']:checked").each(function(){
            chk_list_2.push($(this).val());
        });
        var id = $("#id").val();
        $.post("{:url('/admin/webrole/update')}",
            {'id':id,'rolename':rolename,'chk_list':chk_list,'chk_list_2':chk_list_2},
            function (result) {
                if(result['code'] == 200){
                    $("#submit_btn").attr("disabled", "true");
                    layer.msg("修改成功,页面自动跳转",{icon: 6,time:1000})
                    setTimeout(function(){
                        parent.location.reload();
                    },1000);
                } else {
                    layer.msg(result['msg'],{icon: 5,time:1000});
                }
            })
    });
</script>
{/block}
