{extend name="base" /}

{block name="title"}联系人列表{/block}

{block name="style"}
<style type="text/css">

</style>
{/block}

{block name="main"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="/admin" class="maincolor">首页</a>
    <span class="c-gray en">&gt;</span>
    智能云管理
    <span class="c-gray en">&gt;</span>
    联系人列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="Hui-article" style="text-align: center">
    <article class="cl pd-20">
        <div class="text-c">
            <form action="/admin/smartcloud/friendlist?id={$Request.param.id}" method="post">
                <input type="text" class="input-text" style="width:250px" placeholder="输入昵称" id="nickname" name="nickname" value="{$Request.param.nickname}">
                <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-10">
            <span class="r">共有数据：<strong>{$list->total()}</strong> 条</span>
        </div>
        <div class="mt-10">
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="8">{notempty  name="$owner_name"}{$owner_name}{/notempty} 联系人列表</th>
                </tr>
                <tr class="text-c">
                    <!--                    <th width="25"><input type="checkbox" value="" name=""></th>-->
<!--                    <th width="40">ID</th>-->
                    <th width="70">昵称</th>
                    <th width="70">微信号</th>
                    <th width="70">性别</th>
                    <th width="70">地区</th>
                    <th width="70">类型</th>
                    <th width="70">最近一次更新</th>
                    <th width="50">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='list' id='user'}
                <tr class="text-c">
                    <!--                    <td><input type="checkbox" value="" name=""></td>-->
<!--                    <td>{$user['id']}</td>-->
                    <td>{$user['nickname']}</td>
                    <td>{empty name="$user['alias']"}{$user['wxid']}{else/}{$user['alias']}{/empty}</td>
                    <td>
                        {if $user['sex'] == 1}
                        男
                        {elseif $user['sex'] == 2 /}
                        女
                        {else /}
                        未知
                        {/if}
                    </td>
                    <td>{$user['country']} {$user['province']} {$user['city']}</td>
                    <td>{$user['type'] == 1 ? '个人' : '群聊'}</td>
                    <td>{$user['update_at']|date='Y-m-d H:i:s'}</td>
                    <td class="f-14">
                    {notempty  name="$owner_name"}
                        <a title="查看聊天记录" href="/admin/smartcloud/friendchatrecord?id={$wxid}&friend={$user['wxid']}" style="text-decoration:none"><i class="Hui-iconfont">&#xe6b3;</i></a>
                    {/notempty}
                    {if $user['type'] == 2}
                        <a title="查看群成员" href="/admin/smartcloud/friendlist?id={$user['wxid']}&type=2" style="text-decoration:none"><i class="Hui-iconfont">&#xe611;</i></a>
                    {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$list|raw}
            {if empty($user)}
            <div id="no_content">
                <div>
                    <img src="/static/web/image/zanwuneirong.png" alt="">
                </div>
                暂无内容
            </div>
            {/if}
        </div>
    </article>
</div>
{/block}

{block name="script"}
<script type="text/javascript">

</script>
{/block}
