<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/skin/default/skin.css" id="skin" />
    <title>{block name="title"}{/block}-羽化生物科技</title>
    {block name="style"}
    {/block}
</head>
<body>
    <!-- 头部 -->
    {include file="header_base" /}
    <!-- 导航 -->
    {include file="menu_base" /}
    <section class="Hui-article-box">
<!--        <nav class="breadcrumb">-->
<!--            <i class="Hui-iconfont"></i>-->
<!--            <a href="/admin" class="maincolor">首页</a>-->
<!--&lt;!&ndash;            <span class="c-999 en">&gt;</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="c-666"></span>&ndash;&gt;-->
<!--            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">-->
<!--                <i class="Hui-iconfont">&#xe68f;</i>-->
<!--            </a>-->
<!--        </nav>-->
        <!--主内容-->
        {block name="main"}
        {/block}
        <!--主内容end-->
    </section>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.all.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.js"></script>
    <script type="text/javascript" src="/static/admin/js/H-ui.admin.page.js"></script>
    {block name="script"}
    {/block}
</body>
</html>
